* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  &:focus { outline: none; }
}

html {
  font-family: lato, helvetica, sans-serif;
  font-size: 62.5%
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  font-size: 1.6rem;
}